.custom-arrow {
    position: absolute;
    top: 40%; /* Adjust as necessary to align vertically */
    transform: translateY(-50%); /* Centers the arrow vertically */
    z-index: 25; color: #000;
   
   }
  
  /* Specific adjustments for left and right arrows */
  .slick-prev.custom-arrow {
  left: -35px /* Adjust as necessary */
   
  }

  .slick-prev, .slick-next {
    color: 'red';
}

  
  .slick-next.custom-arrow {
    right: -15px; /* Adjust as necessary */
  }
  .slider-container {
    position: relative;
    padding: 0 40px;
    max-width: 80%; /* Adjust this value as needed */
  margin: auto; 
  margin-left: 10;
  }

  .custom-arrow:hover, .custom-arrow:focus {
    color: #000; 
  }
  
  