#category-filter {
  display: flex;
  flex-direction: column;
}

#category-filter h3 {
  font-size: 1.2rem;
  margin-left: 20px;
}

#categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -30px;
  max-width: 200px;
}

#categoriesContainer li {
  margin: 5px;
}

#categoriesContainer li button {
  background-color: #e8edf2;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#categoriesContainer li button:hover {
  background-color: #e0e0e0;
}

#categoriesContainer li.active button {
  background-color: #333;
  color: #fff;
}
