.about-us {
  font-family: 'Lato', sans-serif;
  background-color: #c8b6a1;
  color: #333;
  width: 90vw;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
}

.header {
  text-align: start;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
 padding-top: 60px;
 
}



.header p {
  font-size: 1.0em;
  color: whitesmoke;
  max-width: 800px;
  margin: auto;
  text-align: start;
  
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  
  padding-left: 20px;

  padding-right: 20px;
  padding-bottom: 10px;
}

@media (min-width: 1024px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.section {
 
  



  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.section:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  
  z-index: -1;
}

.section div {
  flex-grow: 1;
}

.elegant-list {
  list-style: none;
  padding-left: 0;
}

.elegant-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #6a6763;
}

.list-icon {
  font-size: 1.5em;
  color: #c8b6a1;
  margin-right: 15px;
}

.footer {
  text-align: center;
  padding: 30px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.footer:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.footer h2 {
  font-size: 2.5em;
  color: #5c5753;
}

.footer p {
  font-size: 1.2em;
  color: #6a6763;
  max-width: 800px;
  margin: auto;
}

.border-sot {
  --tw-border-opacity: 1;
  border-color: rgba(224, 95, 51, var(--tw-border-opacity));
}

.border-sotOrange {
  --tw-border-opacity: 1;
  border-color: rgba(224, 95, 51, var(--tw-border-opacity));
  
}







#background-element {
  background-image: url('/public/chimneys.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed; /* Används endast för större skärmar */
}

/* Media query för mindre skärmar (mindre än 768px) */
@media (max-width: 767px) {
  #background-element {
      background-image: url('/public/chimney-xs.jpg');
      background-attachment: scroll; /* Används för mindre skärmar */
  }
}