

.border-sot {
  --tw-border-opacity: 1;
  border-color: rgba(43,44,50, var(--tw-border-opacity));
}

.border-sotDark {
  --tw-border-opacity: 1;
  border-color: rgba(43, 47, 50, var(--tw-border-opacity));
}



.bg-sot {
  background-color: #2b2f32;
}

.bg-sot-orange {
  background-color: rgb(224, 95, 51) !important;
}

.bg-sotOrange {
  background-color: rgb(224, 95, 51) !important;
}

.text-sotOrange {
  color: rgb(224, 95, 51) !important;
}

