

.border-sot {
  --tw-border-opacity: 1;
  border-color: rgba(43,44,50, var(--tw-border-opacity));
}

.border-sotDark {
  --tw-border-opacity: 1;
  border-color: rgba(43, 47, 50, var(--tw-border-opacity));
}




.bg-sot-orange {
  background-color: rgb(224, 95, 51) !important;
}

.bg-sotOrange {
  background-color: rgb(224, 95, 51) !important;
}

.text-sotOrange {
  color: rgb(224, 95, 51) !important;
}

.custom-background {
  background-image: url('/public/chimney-sweep-small.jpg');
  background-position: bottom;
  background-size: cover;
}

@media (min-width: 640px) {
  .custom-background {
    background-image: url('/public/chimney-sweep.jpg');
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .custom-background {
    background-position: center center;
  }
}