.homePage {
  width: 100%;
  min-height: 100vh;
}

.heroImage {
  width: 100%;
}

.heroImage img {
  width: 100%;
}

.heroText {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 8%;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: gray 4px 4px 8px;
}

.heroText h1 {
  font-size: 2.5vw;
}

h3 {
  font-size: 2vw;
}
