.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
    background-color: #C8B6A1;
  }
  
  .contact-content {
    flex: 1;
    max-width: 600px;
  }
  
  .contact-info {
    margin-right: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .contact-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  
  .contact-image-container img {
    max-width: 90%;
    height: 90%;
    border-radius: 10px;
  }
  