.seperate-divs {
    display: flex;
    flex-direction: column;
    margin-top: 300%;
  }
  .seperate-elements-bottom {
    display: flex;
    margin-bottom: 10%;
  }
  .seperate-icons-from-text {
    margin-right: 12px;
  }
  .list-style {
    list-style: none;
  }
  .display-align {
    display: flex;
    align-items: center;
  }
  .seperate-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
  }
  .first-icon {
    margin-left: -5%;
  }
  .parent-div {
    display: flex;
    flex-direction: row;
  }
  
  .start-right {
    position: absolute;
    right: 0;
    margin-right: 3%;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: rgb(222, 226, 233);
  }
  @media screen and (max-width: 768px) {
    .start-right {
      
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
  }
  .center-button {
    display: flex;
    align-items: center;
  }
  .seperate-text {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
  }
  .seperate-elements-bottom-v2 {
    margin-bottom: -15%;
  }
  .save-button {
    margin-top: 10%;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(222, 226, 233);
  }
  .input-fields {
    padding: 10px;
    padding-right: 150px;
    border-radius: 10px;
    border-color: rgb(232, 235, 240);
    border-style: double;
    display: flex;
  }
  .grey-mail {
    color: rgb(141, 153, 173);
  }
  
  .sideNavLink  {
    font-weight: normal;
    text-decoration: none;
    color: #0d141c;
  }

  .marginParent {
    margin-left: 108px;
  }
  