.navbarContainer {
  display: flex;
  justify-content: space-between;
 
  height: 80px;
  margin-right: 40px;
}

.nav {
  background-color: #2b2f32 !important;
}



#logoContainer {
  display: flex;
  align-items: center;
  
  text-decoration: none;
  color: whitesmoke;
}

#logo {
  margin-right: 1px;
}

.companyName {
  line-height: 1;
 
}

#linksContainer {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 30px;
}

#userAvatar {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 0;
  gap: 10px;
}

.navbarLink a {
  
  color: whitesmoke;
  
}

.navbarLink a.active {
  border: 2px solid orange;
  padding: 5px;
}

.navbarLinkLogIn {
  gap: 5px;
}

.navbarLink p {
  
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px 0;
  transition: 0.4s;
}

#hamburgerMenu {
  display: none;
  align-items: center;
  
}

@media (max-width: 850px) {
  #linksContainer {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 25px;
    right: 0;
    border-radius: 5px;
    padding: 50px 20px 20px 20px;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    align-items: normal;
 
  }

  #hamburgerMenu {
    display: flex;
   
  }

  .hamburger-icon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #linksContainer.open {
    background-color: #2b2f32 !important;
  
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, right 0.8s ease;
  }
}