.parentDiv {
    display: flex;
   
  }

  .padding-left-1 {
    margin-left: 120px;
    padding-right: 80px; 
    width: 450px; 
    
  }

  .box{
    display: flex;
   flex-direction: column;
   gap: 20px;   
  }

  .text{
    width: 450px;
    font-size: 16px;
  }

  .flex {
    display: flex; 
    justify-content: space-between;
    
  }

  .marginAgree{
    margin-right: 10px;
  }

  .buttonMargin-1 {
    margin-right: 10px;
    display: flex;
    margin-left: 300px;
    
  }
  
  .custom-button-gray-1 {
    color: black !important; /* Ändra textfärgen till svart */
    border-color: transparent !important; /* Ta bort kantfärgen */
    background-color: rgba(232, 237, 245, 1) !important;
    border-radius: 10px !important;
    text-transform: none !important;
    margin-right: 20px !important;
  }

.terms {
  color: rgba(20, 138, 255, 1);
  text-decoration: none;
  
}





  


 
